	.nav {
	  background: rgba(255,255,255,255,0.7);
	  backdrop-filter: blur(50px);
	  -webkit-backdrop-filter:blur(50px);
	  color: #808c99 !important;
	  align-items: center;
	  padding-left: 5%;
	  position: fixed;
	  z-index: 9999;
	  display: flex;
	  height: 64px;
	  width: 100%;
	  font-weight:bold;
	}	

	.nav-link {
	  transition: all .3s ease-in-out;
	  justify-content: center;
	  align-items: center;
	  padding: 0 20px 4px;
	  font-size: 14px;
	  display: flex;
	  height: 100%;
	  color: #4a4a4a;
	}

	.nav-link:hover {
	  color: #121111 !important;
	}

	.notion-navbar {
  display: none !important;
	}
	a {
			text-decoration: none !important;
		}

	/* Callout Buttons */
		.notion-callout {
			border-radius: 100px !important;
			position: relative !important;
			padding: 16px 24px !important;
			border: none !important;
		}
		
		.notion-callout.bg-purple-light {
			box-shadow: 0 10px 20px -10px #516Bbef !important;
			background: #516bef !important;
		}
	  
		.notion-callout.bg-yellow-light {
			box-shadow: 0 10px 20px -10px #f0bd66 !important;
			background: #f0bd66 !important;
		}
	  
		.notion-callout.bg-blue-light {
			box-shadow: 0 10px 20px -10px #1ea1f1 !important;
			background: #1ea1f1 !important;
		}

		.notion-callout a {
			letter-spacing: -0.5px !important;
			padding: 0 0 2px 66px !important;
			align-items: center !important;
			position: absolute !important;
			font-weight: 600 !important;
			display: flex !important;
			border: none !important;
			color: #fff !important;
			bottom: 0 !important;
			right: 0 !important;
			left: 0 !important;
			top: 0 !important;
		}
		
	/* --- Remove bottom page padding and adjust page padding for smaller screens --- */
	.super-content {

	  padding-bottom: 40px !important;
	}

	/* Spacing between gallery items */
	    .notion-collection-gallery {
	        grid-gap: 25px !important;
	    }

	    /* Transition for gallery cards */
	    .notion-collection-card {
	        transition: var(--transition) !important;
	    }

	    /* Gallery cards hover effect */
	    .notion-collection-card:hover {
	        transform: scale(1.05) !important;
	    }

	    /* Gallery cards click effect */
	    .notion-collection-card:active {
	        transform: scale(1) !important;
	    }

	    /* Gallery cards title styles */
	    .notion-collection-card .notion-property__title {
	        padding: 20px !important;
	    }

	    /* Gellery card cover height */
	    .notion-collection-card__cover,
	    .notion-collection-card__cover div,
	    .notion-collection-card__cover img {
	        max-height: 280px !important;
	        height: 280px !important;
	    }


	/* Transforms first unordered list into a horizontal link bar */

	/*

	article#block-b146fb5af6a347cba4ab4331d7efbefc ul:first-child {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	}

	article#block-b146fb5af6a347cba4ab4331d7efbefc ul:first-child li {
	float:left
	}

	article#block-b146fb5af6a347cba4ab4331d7efbefc ul:first-child li a {
	  display: block;
	    text-align: center;
	    padding: 15px 15px;
	    text-decoration: none;
	}

	*/

	/* Hide links to pages */
	   /*  a[href="/about-us"] {
	    display: none !important;
	    }
	      a[href="/contact"] {
	    display: none !important;
	    }

	      a[href="/blog"] {
	    display: none !important;
	    }
	    a[href="/portfolio"] {
	    display: none !important;
	    } */

